.container {
  width: 960px;
  margin: 0 auto;
}

body {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica, sans-serif;
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  padding: 1rem 0;
  position: relative;
  top: 1rem;
}

#logo-white {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

.brand, .navbar {
  font-size: 1rem;
  color: white;
}

.navbar span {
  padding-right: 2rem;
}

/*banner*/
.banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.look-see {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  background-color: white;
  margin-top: 10rem;
  padding: 1.5em 5rem;
  width: 40%;
  float: right;
  position: relative;
  left: 2rem;
}

/*content*/
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  height: 8rem;
  border: 1px solid blue;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon img {
  margin: 3rem 6rem 0 6rem;
  height: auto;
  display: block;
}

.portrait {
  width: 3.5rem;
}

.landscape {
  width: 5rem;
}

.info {
  width: 35%;
  border: 1px solid red;
}

.info h2 {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  margin: 3rem 0 1rem 0;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.info p {
  margin-bottom: 5rem;
}

/*footer*/
.footer {
  background-color: azure;
  display: flex;
  align-items: center;
}

.footer img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}
